.card-disable {
    opacity: 0.3;
}

.plans{
    display: none;
}

.add-area{
    position: fixed; 
    bottom: 18%; 
    height: 1px; 
    width: 100%; 
    text-align: right; 
    /* display: none; */
    /* background-color: beige; */
}

.add-button{
    border-radius: 50%;
    height: 110px;
    width: 110px;
}

.in_card {
    /* background-color: hsl(200, 100%, 83%); */
    /* height: 200px; */
}

.in_card .card-content{
    /* background-color: hsl(200, 100%, 90%); */
}

main{
    padding-bottom: 100px;
}
.my-handle {
  cursor: move;
  /* cursor: -webkit-grabbing; */
}