<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/bulma.min.css">
    <link rel="stylesheet" href="./css/bulma-extensions.min.css">

    <link rel="stylesheet" href="./css/style.css">

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <script src="./js/bulma-extensions.min.js"></script>
    <!-- Latest Sortable -->
    <!-- <script src="https://raw.githack.com/SortableJS/Sortable/master/Sortable.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.8.4/Sortable.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.20.0/vuedraggable.umd.min.js"></script> -->


    <title>Document</title>
</head>

<body id="body">
    <main class="container">
        <br>
        <div class="columns">
            <div class="card column">
                <div class="card-content">


                    <div class="content" id="balance_area">
                        <p class="title is-4">残金:
                            <span id="balance">{{ have.balance }}</span>
                            円
                        </p>

                        <div class="field">
                            <label class="label is-medium">残りのお金</label>
                            <div class="field has-addons">
                                <div class="control">
                                    <input class="input" type="number" placeholder="君の預金" id="balance_money">
                                </div>
                                <div class="control">
                                    <a class="button is-info" v-on:click="update()">確定</a>
                                </div>

                            </div>
                        </div>
                        <div class="field has-addons">
                            <div class="control">
                                <button class="button" onclick="display_money()">更新</button>
                            </div>
                            <div class="control">
                                <button class="button is-danger" onclick="forcibly_initializing()">初期化</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr>
        <div class="modal" id="">
            <div class="modal-background" onclick="modal_open('add-modal')"></div>
            <div class="modal-content">
                <div class="card">
                    <div class="card-content">
                        <p class="title is-4">
                            予算追加するんやで
                        </p>
                        <p class="subtitle">

                        </p>
                        <br>
                        <!-- Form -->
                        <div class="field">
                            <div class="field">
                                <label class="label">Title</label>
                                <div class="control">
                                    <input class="input" type="text" placeholder="自分生誕祭 ケーキ代" required>
                                </div>
                            </div>
                            <div class="field">

                                <label class="label">金額</label>
                                <div class="field has-addons">
                                    <p class="control">
                                        <a class="button is-static">
                                            ￥
                                        </a>
                                    </p>
                                    <p class="control" style="width: 100%;">
                                        <input class="input" type="number" min="0" placeholder="3500"
                                            id="input_plan_balance" required>
                                    </p>
                                    <div class="select is-danger" id="input_plan_balance_out">
                                        <select required style="color: red;">
                                            <option value="in" style="color: black">収入</option>
                                            <option value="out" selected style="color: black">支出</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="field">
                                <label class="label">日付</label>
                                <div class="control">
                                    <input class="input" type="date" id="input_plan_date">
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">メモ</label>
                                <div class="control">
                                    <textarea class="textarea" id="input_plan_memo"
                                        placeholder="祝ってくれる人がいなかったので自分で買うことになった" rows="2"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <footer class="card-footer">
                        <a href="#" class="card-footer-item">追加</a>
                        <a href="#" class="card-footer-item" onclick="modal_open('add-modal')">やっぱやめる</a>
                    </footer>
                </div>
            </div>
        </div>

        <!-- 確認画面 -->
        <div class="modal" id="warning-modal">
            <div class="modal-background" onclick="modal_open('warning-modal')"></div>
            <div class="modal-content">
                <div class="card">
                    <div class="card-content" style="text-align: center;">
                        <p class="title is-4">
                            魔剤！？
                        </p>
                    </div>
                    <footer class="card-footer">
                        <a href="#" class="card-footer-item">大丈夫やで</a>
                        <a href="#" class="card-footer-item" onclick="modal_open('warning-modal')"
                            style="color: var(--black-bis)">あかんあかん</a>
                    </footer>
                </div>
            </div>
        </div>

        <!--  -->
        <div class="columns is-gapless is-multiline is-mobile">
            <!-- 
            <div class="column">
                <div class="card column is-four-fifths in_card"></div>
            </div> -->
            <div class="column">
                <div id="app">
                    <div v-for="item, index in items">
                        <div class="columns is-gapless is-multiline is-mobile budget">
                            <div class="card column is-9 in_card">
                                <input type="text" class="id-card plans" disabled v-bind:value="item.id">
                                <header class="card-header">
                                    <div class="container container-box">
                                        <label class="" style="width: 25px">
                                            <div class="item filed card-header-title ">
                                                <input v-bind:id="item.id" type="checkbox" name=""
                                                    class="switch is-info is-small" checked="checked"
                                                    onclick="check_button(this)">
                                                <label v-bind:for="item.id"></label>
                                            </div>
                                        </label>
                                        <div class="my-handle container-box" style="width: 100%;">
                                            <div class="item  card-header-title">
                                                <label v-bind:for="item.id">&emsp;{{ item.name }}</label>
                                            </div>

                                            <div class="item subtitle" style="right: 0; text-align:right;">
                                                <div style="margin-top: 10%; flex-grow: 3;">
                                                    <span class="money">{{ item.money }}</span><small>円&nbsp;</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </header>
                                <div class="card-content plans">
                                    <div class="content">
                                        <p>
                                            <span class="subtitle is-4 money">{{ item.money }}</span>円
                                        </p>
                                        日付: &emsp;<time datetime="">{{ item.date }}</time><br>
                                        <div id="memo">備考: &emsp;{{ item.memo }}</div>
                                    </div>

                                </div>
                                <footer class="card-footer" slot="footer">
                                    <a class="card-footer-item button is-danger is-outlined"
                                        v-on:click="modal_open('warning-modal',item.id)">消す</a>
                                    <a class="card-footer-item button is-text is-outlined"
                                        onclick="details(this)">詳細</a>
                                </footer>
                            </div>
                            <div class="card column">
                                <div style="position:absolute; right: 5px;bottom: 0px;">
                                    <div class="">
                                        <p>
                                            <span class="subtitle is-4 sum"></span>円
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>

        </div>

    </main>
    <div id="todo-list-example" class="container">
        <form v-on:submit.prevent="addNewTodo" class="modal" id="add-modal">
            <div class="modal-background" onclick="modal_open('add-modal')"></div>
            <div class="modal-content">
                <footer class="card">
                    <div class="card-content">
                        <p class="title is-4">
                            予算追加するんやで
                        </p>
                        <p class="subtitle">

                        </p>
                        <br>
                        <!-- Form -->
                        <div class="field">
                            <div class="field">
                                <label class="label">Title</label>
                                <div class="control">
                                    <input v-model="newTodoText" class="input" type="text" placeholder="自分生誕祭 ケーキ代"
                                        required>
                                </div>
                            </div>
                            <div class="field">

                                <label class="label">金額</label>
                                <div class="field has-addons">
                                    <p class="control">
                                        <a class="button is-static">
                                            ￥
                                        </a>
                                    </p>
                                    <p class="control" style="width: 100%;">
                                        <input v-model="addNewMoney" class="input" type="number" min="0"
                                            placeholder="3500" id="input_plan_balance" required>
                                    </p>
                                    <div class="select is-danger" id="input_plan_balance_out">
                                        <select required style="color: red;">
                                            <option value="in" style="color: black">収入</option>
                                            <option value="out" selected style="color: black">支出</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="field">
                                <label class="label">日付</label>
                                <div class="control">
                                    <input class="input" type="date" id="input_plan_date">
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">メモ</label>
                                <div class="control">
                                    <textarea class="textarea" id="input_plan_memo"
                                        placeholder="祝ってくれる人がいなかったので自分で買うことになった" rows="2"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <footer class="card-footer">
                        <button href="#" class="card-footer-item" type="submit"
                            onclick="modal_open('add-modal')">追加</button>
                        <a href="#" class="card-footer-item" onclick="modal_open('add-modal')">やっぱやめる</a>
                    </footer>
                </footer>
            </div>

        </form>

        <!--  -->
        <div class="columns is-gapless is-multiline is-mobile">
            <!-- 
            <div class="column">
                <div class="card column is-four-fifths in_card"></div>
            </div> -->
            <div class="column">
                <div id="apps">
                    <div v-for="(item, index) in todos">
                        <div class="columns is-gapless is-multiline is-mobile budget">
                            <div class="card column is-9 in_card">
                                <input type="text" class="id-card plans" disabled v-bind:value="item.id">
                                <header class="card-header">
                                    <div class="container container-box">
                                        <label class="" style="width: 25px">
                                            <div class="item filed card-header-title ">
                                                <input v-bind:id="item.id" type="checkbox" name=""
                                                    class="switch is-info is-small" v-model="item.isChecked"
                                                    onclick="check_button(this)">
                                                <label v-bind:for="item.id"></label>
                                            </div>
                                        </label>
                                        <div class="my-handle container-box" style="width: 100%;">
                                            <div class="item  card-header-title">
                                                <label v-bind:for="item.id">&emsp;{{ item.title }}</label>
                                            </div>

                                            <div class="item subtitle" style="right: 0; text-align:right;">
                                                <div style="margin-top: 10%; flex-grow: 3;">
                                                    <span class="money">{{ item.money }}</span><small>円&nbsp;</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </header>
                                <div class="card-content plans">
                                    <div class="content">
                                        <p>
                                            <span class="subtitle is-4 money">{{ item.money }}</span>円
                                        </p>
                                        日付: &emsp;<time datetime="">{{ item.date }}</time><br>
                                        <div id="memo">備考: &emsp;{{ item.memo }}</div>
                                    </div>

                                </div>
                                <footer class="card-footer" slot="footer">
                                    <a class="card-footer-item button is-danger is-outlined"
                                        v-on:click="modal_open('warning-modal',item.id)">消す</a>
                                    <a class="card-footer-item button is-text is-outlined"
                                        onclick="details(this)">詳細</a>
                                </footer>
                            </div>
                            <div class="card column">
                                <div style="position:absolute; right: 5px;bottom: 0px;">
                                    <div class="">
                                        <p>
                                            <span class="subtitle is-4 sum"></span>円
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>

        </div>

        <ul>
            <li v-for="(todo, index) in todos">
                <p class="my-handle">{{ todo.title }}</p>
                <button is="todo-item" v-on:remove="todos.splice(index, 1)"></button>
            </li>
        </ul>
    </div>

    <div class="add-area">
        <a class="add-button button is-primary is-rounded subtitle is-5" style="top: -80%; margin-right: 10%;"
            onclick="modal_open('add-modal')">あっど</a>
    </div>

    <script src="./js/script.js"></script>
</body>

</html>